.contact-us-container {
  z-index: 9;
}

.fork-icon {
  color: #71797E;
}

.user-map-wrapper {
  margin-bottom: 6rem;
}

.ig-logo {
  background:-moz-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}

.whatsapp-logo {
  color: #00cf4d;
}

.telegram-logo {
  color: #1DA1F2;
}

.social-media-links a:hover {
  transform: scale(1.2);
  opacity: .5;
  transition: all .3s ease;
}

